body {
    background: url("img/lazytag.svg") no-repeat #101010 0% 0%;
    color: white;
    font-family: "Verdana", sans-serif;
    font-size: 1.2em;
}

button,select {
    background-color: #050505;
    color: white;
    font-family: "Verdana", sans-serif;
    font-size: 1em;
}

#main {
    opacity: 0;
}

#main.connected {
    opacity: 100;
    transition: 1s;
}

#game {
    min-height: 10vh;
    width: 50%;
    margin: 0 auto;
}

#gamesettings {
    height: 0vh;
    margin: 0 auto;
    background-color: black;
    overflow: hidden;
    transition: height 1s;
}

#gamesettings.expand {
    height: 25vh;
}

#gamesettings li {
    list-style: none;
}

#gamesettings label {
    width: 50%;
    display: inline-block;
}

#players {
    height: 70vh;
    width: 90%;
    margin: 0 auto;
}

#playerlist {
    width: 100%;
    overflow: scroll;
}

#playerlist caption {
    font-size: 2em;
}

#playerlist tr,th,td{
    text-align: left;
}

.playersettings {
    height: 20vh;
    width: 100%;
    transition: 1s;
    background-color: black;
    overflow: hidden;
}

.collapsed {
    height: 0;
}

.imgbutton {
    transition: 1s;
    transform: rotate(-90deg);
}

.imgbutton .rotated {
    transform: rotate(0deg);
}

#events {
    height: 20vh;
    width: 90%;
    margin: 0 auto;
    border: 1px solid gray;
}
